/* Resto dos bagulhos de php ou html, sei lá */

body {
	background-color: #E5E5E5;
} 

dd {
	color: black;
	margin-left: 20px;
}

dt {
	color: gray;
	margin-left: 20px;
}

.CampoComentario{
	position: relative;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.Topicos{
	max-height: 90px;
	overflow-y: scroll;
	background: white;
	border-radius: 10px;
	padding: 10px;
	width: 1040px;
	box-shadow: 0px 3px 14px black;
}

.Topicos dt{
	width: 950px;
	text-align: justify;
	font-weight: normal;
	font-size: 14px;
}

/* Menu lateral de empresas */
aside{
	position: fixed;
}

.MenuLateral{
	position: relative;
	margin-left: 1170px;
	bottom: 100px;
}

.MenuLateral dt{
	color: #FCDD44;
	margin-top: 20px;
	background: black;
	text-align: center;
	font-size: 20px;
	width: 240px;
}

.MenuLateral dd{
	color: white;
	height: 25px;
	background: black;
	box-shadow: 0px 2px 5px white;
	width: 240px;
	height: 26.5px;
}

.MenuLateral dd:hover{
	color: #FCDD44;
	font-size: 18px;
}

/* Sistema de comentários */

h2{
	margin-top: 0px;
	color: white;
}

label{
	color: white;
	padding: 2px;
}

input, textarea{
	padding: 2px;
	background: black;
	border-radius: 5px;
	color: white;
	border: 1px solid #FCDD44;
}

.CampoComentarios{
	margin-top: 20px;
	position: relative;
	margin-left: 400px;
	padding: 15px;
	background: black;
	width: 425px;
	border-radius: 10px;
	border: 2px solid #FCDD44; 
	box-shadow: 0px 7px 12px black;
}

.Campos{
	margin-top: 15px;
}

.Campos input{
	width: 330px;
}

.Botoes{
	margin-top: 15px;
}

.Botoes input[type=reset]{
	float: right;
}

.Botoes input{
	width: 90px;
	height: 25px;
}

.Formulario input[type=text]{
	color: white;
	width: ;
	height: 25px;
}

/* ... do PHP */
.Bloco {
	border-radius: 15px;
	margin-top: 10px;
	margin-left: 170px;
	padding: 10px;
	background-color: black;
	border: 1px solid #FCDD44;
	width: 900px;
	height: 110px;
	color: #000000;
	box-shadow: 6px 4px 12px black;
	overflow-y: scroll;
}

.Nome{
	color: #FCDD44;
	margin-right: 10px;
	text-shadow: 1px 2px 2px gray;
}

.Email{
	position: relative;
	top: 2px;
	font-size: 12px;
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

.Email:hover{
	text-decoration: underline;
}

.NomeEmail{
	color: #FCDD44;
	display: flex;
	flex-direction: horizontal;
}

.Comentario{
	font-size: 14px;
	color: gray;
	max-height: 90px;
}