body {
	background: #FCDD44;
}

.Bloquinho {
	width: 700px;
	background: rgba(255, 255, 255, 0.6);
	margin-left: 100px; 
}

.Topicos {

	padding: 10px;
	margin-left: 100px; 
	margin-top: 10px;
	width: 900px;
	border: none;
	background: rgba(0, 0, 0, 0.75);
	border-top: 1px solid white;
	border-bottom: 1.5px solid white;
}

.Tituluzinho {
	background: rgba(0, 0, 0, 1);
	width: 700px;
	height: 30px;
	color: white;
}

dd {
	color: black;
	margin-left: 20px;
}

dt {
	color: gray;
	margin-left: 20px;
}