body {
	background-color: #E5E5E5;
}

aside{
	position: relative; 
	float: right; 
	top: 100px; 
	left: -50px;
	border-left: 1.2px solid black;
}

dd {
	color: black;
	margin-left: 20px;
}

dt {
	color: gray;
	margin-left: 20px;
}

.Topicos dt{
	width: 950px;
	text-align: justify;
}