/* Cores legais: https://www.w3schools.com/colors/colors_picker.asp; */

h1{
	width: 409px;
	color: black;
	text-shadow: 2px 4px 12px #FCDD44;
	transition: color 1.3s;
	transition: text-shadow 1.3s;
}

h1:hover{
	color: #FCDD44;
	text-shadow: 2px 4px 12px black;
	transition: color 1.3s;
	transition: text-shadow 1.3s;
}

h6{
	font-size: 21px;
	color: black;
	text-align: center;
}

footer{

}

.TodosProdutos{
	align-content: center;
}

.Seção{
	width: 100%;
	height: 340px;
	margin-left: 110px;
	border-bottom: 0.1px solid gray;
	overflow-y: none;
}

.Seção h3{
	color: gray;
}

.Seção h3:hover{
	color: black;
}

.Seção h5{
	color: green;
}

.Produtos{
	margin-top: 30px;
	border-radius: 10px;
	background: white;
	width: 200px;
	height: 270px;
	box-shadow: 2px 5px 8px gray;
	opacity: 0.6;
	transition: opacity 1s;
}

.Produtos:hover{
	opacity: 1;
	transition: opacity 1s;
}

.Produtos img{
	z-index: 2;
	color: yellow;
	max-width: 100%;
	max-height: 100%;
}

.Produtos p{
	border-radius: 3px;
	position: relative;
	bottom: 20px;
	width: 100%;
	height: 10%;
  	background: #FCDD44;
	text-align: center;
	color: black;
	border-bottom: 1.4px solid gray;
}